.formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2em 6em; 
    background-color: rgba(23, 23, 23, 0.7); 
    backdrop-filter: blur(10px); 
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    color: #ffffff;
    font-size: 1.8rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); 
}

.formulario-registro:hover {
    transform: scale(1.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.formulario-registro input[type="text"],
.formulario-registro input[type="email"],
.formulario-registro input[type="password"],
.formulario-registro textarea {
    padding: 1.2em; 
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: rgba(23, 23, 23, 0.8); 
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.formulario-registro input:focus,
.formulario-registro textarea:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
}

.formulario-registro .boton {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.formulario-registro button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    opacity: 0.6;
}

.mensaje-error {
    color: red;
    font-size: 1.2rem;
}

.valido {
    color: #28a745;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.invalido {
    color: #dc3545;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.instrucciones {
    font-size: 1.2rem;
    color: #f8f9fa;
    background-color: #333;
    padding: 0.5em;
    border-radius: 0.25rem;
    margin-top: 0.5em;
}

.fuera-de-pantalla {
    position: absolute;
    left: -9999px;
}

.ya-registrado {
    text-align: center;
    font-size: 1.5rem;
    color: #f8f9fa;
    margin-top: 2em;
}

.enlace-iniciar-sesion {
    color: #4da6ff;
    text-decoration: none;
    font-weight: bold;
}
