/* form.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form.register-form input[type="text"],
form.register-form input[type="email"],
form.register-form input[type="password"],
form.register-form textarea {
    font-family: var(--font-family);
    font-size: 1.6rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color-white);
    color: var(--text-color-white);
    background-color: black;
}

form.register-form input:focus,
form.register-form textarea:focus {
    outline: none;
    border-color: var(--text-color-white);
    box-shadow: 0 0 5px var(--text-color-white);
} */