@import '../../css/Variables.css';

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-family: var(--font-family);
    font-size: 1.6rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color-white);
    color: var(--text-color-black);
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--text-color-white);
    box-shadow: 0 0 5px var(--text-color-white);
}