.boton-gestion-revista-container {
  position: relative;
}

.boton-gestion-revista button {
  background-color: #1e1e1e; 
  color: white;
  padding: 8px 40px; 
  font-weight: 600;
  font-size: 1.2rem; 
  cursor: pointer;
  border: none;
  border-radius: 12px;
  box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.3),
    -4px -4px 8px rgba(255, 255, 255, 0.1);
  transition: all 0.4s ease;
}

.boton-gestion-revista button:hover {
  background-color: #ffffff; 
  color: #1e1e1e; 
  box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.3),
    -2px -2px 4px rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  transform: translateY(-2px); 
}

.menu-gestion-revista {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  width: 220px;
  background-color: rgba(36, 40, 50, 0.95); 
  background-image: linear-gradient(139deg, rgba(36, 40, 50, 1) 0%, rgba(28, 28, 36, 1) 100%);
  border-radius: 12px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
}

.menu-gestion-revista-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-gestion-revista-item {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 12px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menu-gestion-revista-item:hover {
  background-color: #4646ff; 
  color: white;
  transform: translateY(-2px) scale(1.02); 
}

.menu-gestion-revista-item svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.menu-gestion-revista-item p {
  margin: 0;
  font-size: 0.9rem;
}
