.reporte-revistas__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: rgba(23, 23, 23, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.1);
  transition: 0.4s ease-in-out;
}

.reporte-revistas__contenedor:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.2);
}

.reporte-revistas__header {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.reporte-revistas__header h1 {
  font-size: 2.2em;
  color: #f8f9fa;
}

.reporte-revistas__busqueda {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reporte-revistas__busqueda input {
  background: none;
  border: none;
  outline: none;
  width: 80%;
  padding: 1em;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(37, 37, 37, 0.8);
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5);
  font-size: 1em;
}

.reporte-revistas__busqueda input:focus {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
}

.reporte-revistas__tabla {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  max-width: 1200px;
}

.reporte-revistas__tabla table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 15px;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5);
}

.reporte-revistas__tabla th,
.reporte-revistas__tabla td {
  padding: 1em;
  text-align: left;
  color: #ffffff;
}

.reporte-revistas__tabla th {
  background-color: #333;
  font-size: 1.2em;
}

.reporte-revistas__tabla td {
  background-color: #171717;
}

.reporte-revistas__tabla tr:hover td {
  background-color: #333;
}



