/* Estilos generales para pantallas grandes */
.catalogo-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    box-sizing: border-box;
}

.revista-card {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    width: 300px; 
    height: 300px; 
    margin: 20px;
    padding: 10px;
    border-radius: 20px; 
    background: #3c3c3c; 
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3), 
                -8px -8px 15px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s; 
    overflow: hidden; 
}

/* Ajustes para pantallas entre 1024px y 1366px */
@media (max-width: 1366px) and (min-width: 1024px) {
    .revista-card {
        width: 190px; /* Reducimos el tamaño */
        height: 220px; 
    }
}

/* Ajustes para pantallas más pequeñas (768px o menos) */
@media (max-width: 768px) {
    .revista-card {
        width: 150px; 
        height: 150px;
    }
}
