.mis-reservas-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box;
}

.mis-reservas-container h2 {
    width: 100%; 
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.mis-reservas-revistas-grid {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
    overflow-x: auto; 
}


