@import './Variables.css';


a{
    color: antiquewhite;
}
* {
    background: none;
    border: none;
    outline: none;
    color: white;
}
html {
    font-family: var(--font-family);
    font-size: 62.5%;
    color: var(--text-color-white);
}
body {
    background-color: var(--background-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
}
h1 {
    color: var(--text-color-white);
    text-align: center;
    margin-bottom: 1.5rem;
}
