.navbar {
    background-color: #3c3c3c;
    padding: 15px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.navbar ul {
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
    margin: 0; 
    padding: 0; 
}

.navbar li {
    display: inline; 
}

.navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .registro {
    margin-left: auto; /
}
