@import './variables.css';

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    padding: 5rem 1.5rem;
    background-color: var(--background-main);
    flex-wrap: nowrap;
    align-content: flex-start;
}