#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  width: 250px; 
  padding: 10px; 
  font-size: 14px;
}

.custom-icon {        
  background-color: red; /* Fondo rojo para el botón */
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 10px; /* Ajusta el padding para hacerlo más clickeable */
  color: white; /* Color del texto dentro del botón */
  border-radius: 5px; /* Bordes redondeados */
}

.tarea-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #767cb3;
}

.custom-tarea {
  margin-right: 10px;
}

.completed {
  background-color: #4caf50; /* Fondo azul oscuro */
  color: white; /* Texto blanco para asegurar contraste */
  padding: 5px;
  border-radius: 5px;
}
.contador{
  border: 2px solid #4caf50; /* Borde azul */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 15px; /* Espaciado interno */
  margin: 20px 0; /* Margen superior e inferior */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
.contDeTareasAct{
  font-size: 1.2rem; 
  font-weight: bold; 
  margin-bottom: 10px;
}
.contDeTareasCompl{
  font-size: 1rem; /* Tamaño de fuente normal */
  color: #4caf50; /* Color verde para tareas completadas */
  margin-bottom: 10px;
}
.contDeTareasElim{
  font-size: 1rem; /* Tamaño de fuente normal */
  color: #f44336;
}
