@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}

body {
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: #2F195F;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #FFFFFF;
  margin-top: 1rem;
  width: 100%;
  color: #000000;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #FFFFFF;
  box-shadow: 0 0 5px #FFFFFF;
}

label,
button {
  margin-top: 1rem;
  color: #FFFFFF;
}

button {
  padding: 0.75rem;
  background-color: #92D5E6;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #EFC3F5;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000000;
    color: #FF0000;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: #00FF00;
    margin-left: 0.25rem;
}

.invalid {
    color: #FF0000;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.line {
    display: inline-block;
}
