.revista-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; 
    margin: 20px;
    padding: 10px;
    border-radius: 20px; 
    background: #3c3c3c; 
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3), 
                -8px -8px 15px rgba(255, 255, 255, 0.2); 
    transition: transform 0.2s; 
}

.revista-card:hover {
    transform: translateY(-5px); 
}

.revista-portada {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 
                -5px -5px 10px rgba(255, 255, 255, 0.2); 
}

.revista-titulo {
    margin-top: 10px; 
    color: #ffffff; 
    font-size: 14px; 
    text-align: center; 
    font-weight: bold; 
}
