:root {
    --background-main: #3c3c3c;
    --background-black: #000000;
    --background-section: #2F195F;
    --text-color-white: #FFFFFF;
    --text-color-black: #000000;
    --button-primary-bg: #92D5E6;
    --button-primary-hover: #EFC3F5;
    --button-delete-bg: #9c0404;
    --error-bg: #e74c3c;
    --font-family: 'Nunito', sans-serif;
    --font-size-base: 16px;
}
